body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 20px;
}

table{
    margin-top: 20px;
}
table th{
    padding: 10px;
    background-color: #999;
    font-family: cursive;
}
table tr td{
    padding: 10px;
}
table tr:hover td{
    background-color: #EEE;
}


#valor{
    width: 50px;
    padding: 12px;
    margin-left: 10px;
    box-shadow: 0 0 5px rgba(30,144,255,0.8);
    margin-top: 5px;
    text-align: center;
}

.sortear{
    width: 150px;
    padding: 10px 20px; /* Espaçamento interno */
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: 1px solid black; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave ao mudar a cor */
    margin-top: 20px;
    font-family: cursive;
    margin-right: 5px;
}

.sortear:hover{
    background-color: red; /* Cor de fundo ao passar o mouse */
    transition: all 0.4s ease;
}

.btnSalvar {
    width: 150px;
    padding: 10px 20px; /* Espaçamento interno */
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave ao mudar a cor */
    margin-top: 20px;
    font-family: cursive;
}

.btnSalvar:hover {
    background-color: red; /* Cor de fundo ao passar o mouse */
    transition: all 0.4s ease;
}

.megaSena{
    border: 2px solid black;
    width: 25%;
    padding: 30px;
    text-align: center;
    background-color: #87CEEB;
    margin-right: 5px;
    font-family: cursive;
}

.lotoFacil
{
    border: 2px solid black;
    width: 25%;
    padding: 30px;
    text-align: center;
    background-color: #87CEEB;
    margin-right: 5px;
    font-family: cursive;
}

.Quina
{
    border: 2px solid black;
    width: 25%;
    padding: 30px;
    text-align: center;
    background-color: #87CEEB;
    margin-right: 5px;
    font-family: cursive;
}

.lotoMania
{
    border: 2px solid black;
    width: 25%;
    padding: 30px;
    text-align: center;
    background-color: #87CEEB;
    font-family: cursive;
}

.container
{
    display: flex;
    padding: 13px;
}

.ocultoMega{
    display: none;
}


.containerTable{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    padding: 20px;
    font-family: cursive;
}

.image-container {
    display: flex; /* Habilita o layout de flexbox */
    align-items: center; /* Alinha verticalmente */
}

.image-container img {
    width: 100px; /* Largura da imagem */
    height: auto;
}

.image-container2 {
    display: flex; /* Habilita o layout de flexbox */
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 20px;
}

.image-container2 img {
    width: 50px; /* Largura da imagem */
    height: auto;
}

.text-below-image {
    color: black; /* Cor do texto */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    text-align: center; /* Centraliza o texto */
    font-size: 30px; /* Tamanho do texto */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px; /* Espaçamento entre a imagem e o texto */
}

.novo_jogo{
    text-decoration: none;
    width: 150px;
    padding: 5px 20px; /* Espaçamento interno */
    background-color: white; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: 1px solid black; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave ao mudar a cor */
    font-family: cursive;
}

.novo_jogo:hover{
    background-color: red; /* Cor de fundo ao passar o mouse */
    transition: all 0.4s ease;
}

